.grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

html {
  font-size: 16px;
  color: #0fbcf9;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

body {
  background-color: #fffbe7;
  margin: 2rem 3rem;
}

a {
  color: currentColor;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

a:hover {
  transform: translateY(-4px);
}

.header {
  margin-bottom: 2rem;
}

.header > * {
  margin-bottom: .5rem;
}

.header .email {
  font-size: .8em;
}

@media (min-width: 990px) {
  .header {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 240px auto auto;
  }
  .header > * {
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
  .header .email {
    text-align: right;
    justify-content: flex-end;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Bree Serif", Georgia, serif;
  color: #0fbcf9;
}

.box {
  background-color: #0fbcf9;
}

main > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #0fbcf9;
}

main > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoibWFpbi5jc3MiLCJzb3VyY2VzIjpbIm1haW4uc2NzcyIsIm1vZHVsZXMvX2dyaWQuc2NzcyIsIm1vZHVsZXMvX3ZhcmlhYmxlcy5zY3NzIiwicGFydGlhbHMvX2Jhc2Uuc2NzcyIsInBhcnRpYWxzL19nYWxsZXJ5LnNjc3MiXSwic291cmNlc0NvbnRlbnQiOlsiLy9NT0RVTEVTXG5AaW1wb3J0ICdtb2R1bGVzL2dyaWQnO1xuQGltcG9ydCAnbW9kdWxlcy92YXJpYWJsZXMnO1xuXG4vL1BBUlRJQUxTXG5AaW1wb3J0ICdwYXJ0aWFscy9iYXNlJztcbkBpbXBvcnQgJ3BhcnRpYWxzL2dhbGxlcnknXG4iLCIuZ3JpZCB7XG4gICAgZGlzcGxheTogZ3JpZDtcbiAgICBncmlkLWdhcDogNXB4O1xuICAgIGdyaWQtdGVtcGxhdGUtY29sdW1uczogcmVwZWF0KGF1dG8tZml0LCBtaW5tYXgoMzAwcHgsIDFmcikpO1xuICAgIGdyaWQtYXV0by1yb3dzOiAyMDBweDtcbiAgICBncmlkLWF1dG8tZmxvdzogZGVuc2U7XG59XG5cbi5ob3Jpem9udGFsIHtcbiAgICBncmlkLWNvbHVtbjogc3BhbiAyO1xufVxuXG4udmVydGljYWwge1xuICAgIGdyaWQtcm93OiBzcGFuIDI7XG59XG5cbi5iaWcge1xuICAgIGdyaWQtY29sdW1uOiBzcGFuIDI7XG4gICAgZ3JpZC1yb3c6IHNwYW4gMjtcbn0iLCIvLyBDT0xPUlNcbiRiYWNrZ3JvdW5kLWNvbG9yOiAjZmZmYmU3O1xuJGFjY2VudC1jb2xvcjogIzBmYmNmOTtcbiRtYWluLWNvbG9yOiAjMGZiY2Y5O1xuXG5cbi8vIEZPTlRTXG4kYWNjZW50LWZvbnQ6ICdCcmVlIFNlcmlmJywgR2VvcmdpYSwgc2VyaWY7XG4kbWFpbi1mb250OiAnT3BlbiBTYW5zJywgSGVsdmV0aWNhLCBBcmlhbCwgc2Fucy1zZXJpZjtcblxuLy8gTUVESUEgTUlYSU5TXG5cbiRkZXNrdG9wLXdpZHRoOiA5OTBweDtcblxuQG1peGluIGRlc2t0b3Age1xuXHRAbWVkaWEgKG1pbi13aWR0aDogI3skZGVza3RvcC13aWR0aH0pIHtcblx0XHRAY29udGVudDtcblx0fVxuXG59IiwiaHRtbCB7XG5cdGZvbnQtc2l6ZTogMTZweDtcblx0Y29sb3I6ICRtYWluLWNvbG9yO1xuXHRmb250LWZhbWlseTogJG1haW4tZm9udDtcblxufVxuXG5ib2R5IHtcblx0YmFja2dyb3VuZC1jb2xvcjogJGJhY2tncm91bmQtY29sb3I7XG5cdG1hcmdpbjogMnJlbSAzcmVtO1xufVxuXG5hIHtcblx0Y29sb3I6IGN1cnJlbnRDb2xvcjtcblx0Y3Vyc29yOiBwb2ludGVyO1xuXHR0cmFuc2l0aW9uOiBhbGwgLjJzIGVhc2UtaW4tb3V0O1xuXHQmOmhvdmVyIHtcblx0XHR0cmFuc2Zvcm06IHRyYW5zbGF0ZVkoLTRweCk7XG5cdH1cblxufVxuXG4uaGVhZGVyIHtcblx0bWFyZ2luLWJvdHRvbTogMnJlbTtcblx0Pioge1xuXHRcdG1hcmdpbi1ib3R0b206IC41cmVtO1xuXHR9XG5cdC5lbWFpbCB7XG5cdFx0Zm9udC1zaXplOiAuOGVtO1xuXHR9XG5cdEBpbmNsdWRlIGRlc2t0b3Age1xuXHRcdGRpc3BsYXk6IGdyaWQ7XG5cdFx0Z3JpZC1nYXA6IDEuNXJlbTtcblx0XHRncmlkLXRlbXBsYXRlLWNvbHVtbnM6IDI0MHB4IGF1dG8gYXV0bztcblx0XHQ+KiB7XG5cdFx0XHRtYXJnaW4tYm90dG9tOiAwO1xuXHRcdFx0ZGlzcGxheTogZmxleDtcblx0XHRcdGFsaWduLWl0ZW1zOiBjZW50ZXI7XG5cdFx0fVxuXHRcdC5lbWFpbCB7XG5cdFx0XHR0ZXh0LWFsaWduOiByaWdodDtcblx0XHRcdGp1c3RpZnktY29udGVudDogZmxleC1lbmQ7XG5cdFx0fVxuXHR9XG59XG5cbi50aXRsZSB7XG5cdGZvbnQtc2l6ZTogMi41cmVtO1xuXHRmb250LXdlaWdodDogNjAwO1xuXHRmb250LWZhbWlseTogJGFjY2VudC1mb250O1xuXHRjb2xvcjogJGFjY2VudC1jb2xvcjtcbn1cblxuLmJveCB7IGJhY2tncm91bmQtY29sb3I6ICRtYWluLWNvbG9yOyB9IiwibWFpbiB7XG4gICAgPmRpdiB7XG4gICAgICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgICAgIGp1c3RpZnktY29udGVudDogY2VudGVyO1xuICAgICAgICBhbGlnbi1pdGVtczogY2VudGVyO1xuICAgICAgICBmb250LXNpemU6IDJlbTtcbiAgICAgICAgY29sb3I6ICRhY2NlbnQtY29sb3I7XG4gICAgICAgID5pbWcge1xuICAgICAgICAgICAgd2lkdGg6IDEwMCU7XG4gICAgICAgICAgICBoZWlnaHQ6IDEwMCU7XG4gICAgICAgICAgICBvYmplY3QtZml0OiBjb3ZlcjtcbiAgICAgICAgfVxuICAgIH1cbn0iXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFDQUEsQUFBQSxLQUFLLENBQUM7RUFDRixPQUFPLEVBQUUsSUFBSTtFQUNiLFFBQVEsRUFBRSxHQUFHO0VBQ2IscUJBQXFCLEVBQUUsb0NBQW9DO0VBQzNELGNBQWMsRUFBRSxLQUFLO0VBQ3JCLGNBQWMsRUFBRSxLQUFLO0NBQ3hCOztBQUVELEFBQUEsV0FBVyxDQUFDO0VBQ1IsV0FBVyxFQUFFLE1BQU07Q0FDdEI7O0FBRUQsQUFBQSxTQUFTLENBQUM7RUFDTixRQUFRLEVBQUUsTUFBTTtDQUNuQjs7QUFFRCxBQUFBLElBQUksQ0FBQztFQUNELFdBQVcsRUFBRSxNQUFNO0VBQ25CLFFBQVEsRUFBRSxNQUFNO0NBQ25COztBRW5CRCxBQUFBLElBQUksQ0FBQztFQUNKLFNBQVMsRUFBRSxJQUFJO0VBQ2YsS0FBSyxFRENPLE9BQU87RUNBbkIsV0FBVyxFREtBLFdBQVcsRUFBRSxTQUFTLEVBQUUsS0FBSyxFQUFFLFVBQVU7Q0NIcEQ7O0FBRUQsQUFBQSxJQUFJLENBQUM7RUFDSixnQkFBZ0IsRURQRSxPQUFPO0VDUXpCLE1BQU0sRUFBRSxTQUFTO0NBQ2pCOztBQUVELEFBQUEsQ0FBQyxDQUFDO0VBQ0QsS0FBSyxFQUFFLFlBQVk7RUFDbkIsTUFBTSxFQUFFLE9BQU87RUFDZixVQUFVLEVBQUUsbUJBQW1CO0NBSy9COztBQVJELEFBSUMsQ0FKQSxBQUlDLE1BQU0sQ0FBQztFQUNQLFNBQVMsRUFBRSxnQkFBZ0I7Q0FDM0I7O0FBSUYsQUFBQSxPQUFPLENBQUM7RUFDUCxhQUFhLEVBQUUsSUFBSTtDQXFCbkI7O0FBdEJELEFBRUMsT0FGTSxHQUVMLENBQUMsQ0FBQztFQUNGLGFBQWEsRUFBRSxLQUFLO0NBQ3BCOztBQUpGLEFBS0MsT0FMTSxDQUtOLE1BQU0sQ0FBQztFQUNOLFNBQVMsRUFBRSxJQUFJO0NBQ2Y7O0FEZEQsTUFBTSxFQUFFLFNBQVMsRUFBRSxLQUFLO0VDT3pCLEFBQUEsT0FBTyxDQUFDO0lBU04sT0FBTyxFQUFFLElBQUk7SUFDYixRQUFRLEVBQUUsTUFBTTtJQUNoQixxQkFBcUIsRUFBRSxlQUFlO0dBV3ZDO0VBdEJELEFBWUUsT0FaSyxHQVlKLENBQUMsQ0FBQztJQUNGLGFBQWEsRUFBRSxDQUFDO0lBQ2hCLE9BQU8sRUFBRSxJQUFJO0lBQ2IsV0FBVyxFQUFFLE1BQU07R0FDbkI7RUFoQkgsQUFpQkUsT0FqQkssQ0FpQkwsTUFBTSxDQUFDO0lBQ04sVUFBVSxFQUFFLEtBQUs7SUFDakIsZUFBZSxFQUFFLFFBQVE7R0FDekI7OztBQUlILEFBQUEsTUFBTSxDQUFDO0VBQ04sU0FBUyxFQUFFLE1BQU07RUFDakIsV0FBVyxFQUFFLEdBQUc7RUFDaEIsV0FBVyxFRDFDRSxZQUFZLEVBQUUsT0FBTyxFQUFFLEtBQUs7RUMyQ3pDLEtBQUssRURoRFMsT0FBTztDQ2lEckI7O0FBRUQsQUFBQSxJQUFJLENBQUM7RUFBRSxnQkFBZ0IsRURsRFYsT0FBTztDQ2tEb0I7O0FDckR4QyxBQUNJLElBREEsR0FDQyxHQUFHLENBQUM7RUFDRCxPQUFPLEVBQUUsSUFBSTtFQUNiLGVBQWUsRUFBRSxNQUFNO0VBQ3ZCLFdBQVcsRUFBRSxNQUFNO0VBQ25CLFNBQVMsRUFBRSxHQUFHO0VBQ2QsS0FBSyxFRkpFLE9BQU87Q0VVakI7O0FBWkwsQUFPUSxJQVBKLEdBQ0MsR0FBRyxHQU1DLEdBQUcsQ0FBQztFQUNELEtBQUssRUFBRSxJQUFJO0VBQ1gsTUFBTSxFQUFFLElBQUk7RUFDWixVQUFVLEVBQUUsS0FBSztDQUNwQiJ9 */
