html {
  font-size: 18px;
  color: #5160B2;
  font-family: "Gentium Book Basic", Georgia, serif;
}

body {
  background-color: #FFEAA7;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 2rem 3rem;
}

.title {
  font-size: 3rem;
  font-family: "Alfa Slab One", Georgia, serif;
  margin-bottom: .5rem;
  margin-right: 1.5rem;
}

main {
  margin: 0 3rem;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoibWFpbi5jc3MiLCJzb3VyY2VzIjpbIm1haW4uc2NzcyIsIm1vZHVsZXMvX3ZhcmlhYmxlcy5zY3NzIiwicGFydGlhbHMvX2Jhc2Uuc2NzcyJdLCJzb3VyY2VzQ29udGVudCI6WyIvL01PRFVMRVNcbkBpbXBvcnQgJ21vZHVsZXMvdmFyaWFibGVzJztcblxuLy9QQVJUSUFMU1xuQGltcG9ydCAncGFydGlhbHMvYmFzZSc7XG4iLCIvLyBDT0xPUlNcbiRiYWNrZ3JvdW5kLWNvbG9yOiAjRkZFQUE3O1xuJG1haW4tY29sb3I6ICM1MTYwQjI7XG4kYWNjZW50LWZvbnQ6ICdBbGZhIFNsYWIgT25lJywgR2VvcmdpYSwgc2VyaWY7XG4kbWFpbi1mb250OiAnR2VudGl1bSBCb29rIEJhc2ljJywgR2VvcmdpYSwgc2VyaWY7IiwiaHRtbCB7XG5cdGZvbnQtc2l6ZTogMThweDtcblx0Y29sb3I6ICRtYWluLWNvbG9yO1xuXHRmb250LWZhbWlseTogJG1haW4tZm9udDtcblxufVxuXG5ib2R5IHtcblx0YmFja2dyb3VuZC1jb2xvcjogJGJhY2tncm91bmQtY29sb3I7XG59XG5cbi5oZWFkZXIge1xuXHRkaXNwbGF5OiBmbGV4O1xuXHRmbGV4LXdyYXA6IHdyYXA7XG5cdGFsaWduLWl0ZW1zOiBjZW50ZXI7XG5cdG1hcmdpbjogMnJlbSAzcmVtO1xufVxuXG4udGl0bGUge1xuXHRmb250LXNpemU6IDNyZW07XG5cdGZvbnQtZmFtaWx5OiAkYWNjZW50LWZvbnQ7XG5cdG1hcmdpbi1ib3R0b206IC41cmVtO1xuXHRtYXJnaW4tcmlnaHQ6IDEuNXJlbTtcbn1cblxubWFpbiB7XG5cdG1hcmdpbjogMCAzcmVtO1xufSJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUVBQSxBQUFBLElBQUksQ0FBQztFQUNKLFNBQVMsRUFBRSxJQUFJO0VBQ2YsS0FBSyxFREFPLE9BQU87RUNDbkIsV0FBVyxFRENBLG9CQUFvQixFQUFFLE9BQU8sRUFBRSxLQUFLO0NDQy9DOztBQUVELEFBQUEsSUFBSSxDQUFDO0VBQ0osZ0JBQWdCLEVEUEUsT0FBTztDQ1F6Qjs7QUFFRCxBQUFBLE9BQU8sQ0FBQztFQUNQLE9BQU8sRUFBRSxJQUFJO0VBQ2IsU0FBUyxFQUFFLElBQUk7RUFDZixXQUFXLEVBQUUsTUFBTTtFQUNuQixNQUFNLEVBQUUsU0FBUztDQUNqQjs7QUFFRCxBQUFBLE1BQU0sQ0FBQztFQUNOLFNBQVMsRUFBRSxJQUFJO0VBQ2YsV0FBVyxFRGpCRSxlQUFlLEVBQUUsT0FBTyxFQUFFLEtBQUs7RUNrQjVDLGFBQWEsRUFBRSxLQUFLO0VBQ3BCLFlBQVksRUFBRSxNQUFNO0NBQ3BCOztBQUVELEFBQUEsSUFBSSxDQUFDO0VBQ0osTUFBTSxFQUFFLE1BQU07Q0FDZCJ9 */
