html {
	font-size: 18px;
	color: $main-color;
	font-family: $main-font;

}

body {
	background-color: $background-color;
}

.header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 2rem 3rem;
}

.title {
	font-size: 3rem;
	font-family: $accent-font;
	margin-bottom: .5rem;
	margin-right: 1.5rem;
}

main {
	margin: 0 3rem;
}