// COLORS
$background-color: #FFEAA7;
$main-color: #5160B2;

// FONTS
$accent-font: 'Alfa Slab One', Georgia, serif;
$main-font: 'Gentium Book Basic', Georgia, serif;

// MEDIA MIXINS

$desktop-width: 990px;

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}

}