// COLORS
$background-color: #fffbe7;
$accent-color: #0fbcf9;
$main-color: #0fbcf9;


// FONTS
$accent-font: 'Bree Serif', Georgia, serif;
$main-font: 'Open Sans', Helvetica, Arial, sans-serif;

// MEDIA MIXINS

$desktop-width: 990px;

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}

}