// COLORS
$background-gradient: linear-gradient(to top, #fdbb2d, #22c1c3);
$accent-color: #fff;
$main-color: #fff;


// FONTS
$accent-font: 'Bree Serif', Georgia, serif;
$main-font: 'Open Sans', Helvetica, Arial, sans-serif;

// MEDIA MIXINS

$phone-width: 576px;
$tablet-width: 768px;
$desktop-width: 990px;

@mixin phone {
	@media screen and (min-width: #{$phone-width}) and (orientation: landscape) {
		@content;
	}
}

@mixin tablet {
	@media screen and (min-width: #{$tablet-width}) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: #{$desktop-width}) {
		@content;
	}
}
